/**
* Page Setting
* @backend
*/
#section-setting {
  #form-result {
    display:none;
    padding:10px 0;
    font-weight:bold;
    &.form-result-false{
      display: block;
      color: $alizarin;
    }
    &.form-result-true{
      display: block;
      color: $nephritis;
    }
  }
  #field_option_absolute_location  {
    display:inline;
    li {
      margin-left:20px;
      display:inline;
    }
  }
  .btn-submit {
    background: $alizarin;
    color:#fff;
  }
}

/**
* Page Contact
* @backend
*/
#section-contact {
  #add-user-to-lists {
    cursor:pointer;
    border:none;
    background: $nephritis;
    color:#fff;
    padding: 7px 25px;
    border-radius:5px;
  }
  .badges {
    display:inline-block;
    background: $silver;
    padding:8px 10px;
    margin:2px;
    i {
      cursor: pointer;
      margin-right: 5px;
    }
  }
  .btn-submit {
    background: $carrot;
    color:#fff;
  }
}
#section-send {
  #email-send-status {
    display:none;
    margin:200px;
    text-align:center;
  }
}

/**
* Page Email Template
* @backend @edit
*/
#section-builder {
  .email-grid {
    position: relative;
    margin: 0 auto;
    max-width:800px;
    .row {
      width:100%;
      height:auto;
      position: absolute;
      background: #f0f0f0;
      border-radius: 3px;
      z-index: 1;
      will-change: transform;
      .row-header {
        position: relative;
        overflow: hidden;
        padding: 8px 20px;
        background: $amethyst;
        color: #fff;
        border-radius: 3px 3px 0 0;
      }
      .row-content {
        position: relative;
        border: 10px solid transparent;
        min-height: 95px;
      }
      &.muuri-item-placeholder {
        border: 3px dotted $amethyst;
        z-index: 3;
        .item-content {
          display:none;
        }
        &:after {
          position:absolute;
          content: 'PLACEHOLDER';
          margin: -20px 0 0 -60px;
          color: #a8a8a8;
          left:50%;
        }
      }
      &.muuri-item-dragging {
        z-index: 3;
        cursor: move;
      }
      &.muuri-item-releasing {
        z-index: 2;
      }
      &.muuri-item-hidden {
        z-index: 0;
      }
    }

  }
  #row-setting {
    position:absolute;
    z-index:999;
    right:0;
    margin-top: -40px;
    background: $amethyst;
    border-radius: 5px 5px 0 0;
    button {
      background: $amethyst;
      color: #fff;
      padding: 4px;
      border:none;
      cursor:pointer;
      i { padding: 0 3px; }
    }
  }
  #element-setting {
    position:absolute;
    z-index:999;
    right:-33px;
    background: $amethyst;
    border-radius: 0 5px 5px 0;
    padding: 5px 3px;
    button {
      display:block;
      background: $amethyst;
      color: #fff;
      padding: 4px;
      border:none;
      cursor:pointer;
      i { padding: 0 3px; }
    }
  }
}

.element {
  position: absolute;
  width: 100%;
  margin: 5px 0;
  will-change: transform;
  .element-content {
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  }
  &.muuri-item-releasing {
    z-index: 9998;
  }
  &.muuri-item-dragging {
    z-index: 9999;
    cursor: move;
  }
  &.muuri-item-hidden {
    z-index: 0;
  }
}
#section-codeeditor {
  //#juice-builder-elements { display:none !important; }
  padding: 10px;
  .container, .element_fields { display:none; }
  #template-elements, .select2-container {
    width:100% !important;
    display:none;
  }
  #template-editor {
    width:100%;
    margin-top:2px;
    min-height:800px;
    textarea {
      min-height:400px;
    }
  }
}