/**
* Page Setting
* @backend
*/
#section-setting {
  #form-result {
    display:none;
    padding:10px 0;
    font-weight:bold;
    &.form-result-false{
      display: block;
      color: $alizarin;
    }
    &.form-result-true{
      display: block;
      color: $nephritis;
    }
  }
  #field_option_absolute_location  {
    display:inline;
    li {
      margin-left:20px;
      display:inline;
    }
  }
  .btn-submit {
    background: $alizarin;
    color:#fff;
  }
}

/**
* Page Contact
* @backend
*/
#section-contact {
  #add-user-to-lists {
    cursor:pointer;
    border:none;
    background: $nephritis;
    color:#fff;
    padding: 7px 25px;
    border-radius:5px;
  }
  .badges {
    display:inline-block;
    background: $silver;
    padding:8px 10px;
    margin:2px;
    i {
      cursor: pointer;
      margin-right: 5px;
    }
  }
  .btn-submit {
    background: $carrot;
    color:#fff;
  }
}
#section-send {
  #email-send-status {
    display:none;
    margin:200px;
    text-align:center;
  }
}

/**
* Page Email Template
* @backend @edit
*/
#section-builder {
  #juice-builder-elements { display:none !important; }
  .email-grid {
    position: relative;
    margin: 0 auto;
    max-width:800px;
    .item {
      display: block;
      position: absolute;
      margin: 5px 0px;
      padding: 0px;
      z-index: 1;
      color: #000;
      &:hover {
        border: 3px solid $amethyst;
        border-radius: 3px;
      }
      .item-content {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
    .item.muuri-item-placeholder {
      border: 3px dotted $amethyst;
      z-index: 3;
      .item-content {
        display:none;
      }
      &:after {
        position:absolute;
        content: 'PLACEHOLDER';
        margin: 0 0 0 -60px;
        color: #a8a8a8;
        left:50%;
      }
    }
    .item.muuri-item-dragging {
      z-index: 3;
    }
    .item.muuri-item-releasing {
      z-index: 2;
    }
    .item.muuri-item-hidden {
      z-index: 0;
    }
  }
  #element-setting {
    float:right;
    height:30px;
    padding:3px 0 0 0;
    margin-top:-35px;
    background: $amethyst;
    border-radius: 5px 5px 0 0;
    button {
      background: $amethyst;
      color: #fff;
      padding: 4px;
      border:none;
      cursor:pointer;
      i { padding: 0 3px; }
    }
  }
}
#section-codeeditor {
  padding: 10px;
  .container, .element_fields { display:none; }
  #template-elements, .select2-container {
    width:100% !important;
    display:none;
  }
  #template-editor {
    width:100%;
    margin-top:2px;
    min-height:800px;
    textarea {
      min-height:400px;
    }
  }
}