// Template Color : https://flatuicolors.com/palette/defo
$nephritis : #27ae60;
$amethyst: #9b59b6;
$wetasphalt: #34495e;
$carrot: #e67e22;
$alizarin: #e74c3c;
$concrete: #95a5a6;
$silver: #bdc3c7;

// Assets

// Background
.bg-amethyst { background: $amethyst; }
.bg-wetasphalt { background: $wetasphalt; }
.bg-carrot { background: $carrot; }
.bg-alizarin { background: $alizarin; }