/**
* Page Email Template
* @backend @edit
*/
#meta-templateeditor {
  display:none;
  #template-elements {
    width:100%;
  }
  .element_fields {
    //display:none;
  }
  #template-editor {
    width:100%;
    margin-top:10px;
    min-height:400px;
    textarea {
      min-height:400px;
    }
  }
}

/**
* Page Setting
* @backend
*/
.nav-tab {
  margin-bottom: -1px;
}
ul.tabs li.current{
  background: #ededed;
  color: #222;
}
.tab-content{
  display: none;
  background: #f4f5f6;
  padding: 15px;
}
.tab-content.current {
  display: inherit;
  border: 1px solid #ccc;
  border-top: 0px;
}