/**
* Page Setting
* @backend
*/
#section-setting {
  #form-result {
    display:none;
    padding:10px 0;
    font-weight:bold;
    &.form-result-false{
      display: block;
      color: $alizarin;
    }
    &.form-result-true{
      display: block;
      color: $nephritis;
    }
  }
  #field_option_absolute_location  {
    display:inline;
    li {
      margin-left:20px;
      display:inline;
    }
  }
  .btn-submit {
    background: $alizarin;
    color:#fff;
  }
}

/**
* Page Contact
* @backend
*/
#section-contact {
  #add-user-to-lists {
    cursor:pointer;
    border:none;
    background: $nephritis;
    color:#fff;
    padding: 7px 25px;
    border-radius:5px;
  }
  .badges {
    display:inline-block;
    background: $silver;
    padding:8px 10px;
    margin:2px;
    i {
      cursor: pointer;
      margin-right: 5px;
    }
  }
  .btn-submit {
    background: $carrot;
    color:#fff;
  }
}
#section-send {
  #email-send-status {
    display:none;
    margin:200px;
    text-align:center;
  }
}

/**
* Page Email Template
* @backend @edit
*/
#section-builder {
  .email-grid {
    position: relative;
    max-width:600px;
    margin: 0 auto;
  }
  .item {
    display: block;
    position: absolute;
    margin: 5px 0px;
    padding: 0px;
    z-index: 1;
    //background: #fff;
    color: #000;
    border: 2px solid red;
    border-radius: 3px;
  }
  .item.muuri-item-dragging {
    z-index: 3;
  }
  .item.muuri-item-releasing {
    z-index: 2;
  }
  .item.muuri-item-hidden {
    z-index: 0;
  }
  .item-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
#section-codeeditor {
  padding: 10px;
  .container, .element_fields {
    display:none;
  }
  #juice-builder-elements { display:none !important; }
  #template-elements, .select2-container {
    width:100% !important;
    display:none;
  }
  #template-editor {
    width:100%;
    margin-top:2px;
    min-height:800px;
    textarea {
      min-height:400px;
    }
  }
}
#section-preview {
  #juice_preview {
    width:100% !important;
    min-height:750px !important;
  }
}