.pull-right {
  float: right; }

.field-ajax {
  display: none; }

.triangle-loading {
  text-align: center;
  padding: 40px 0px; }
  .triangle-loading .ico-loading {
    width: 150px; }

.triangle-loading-field {
  max-width: 400px;
  margin: 0 auto;
  display: block;
  margin: 0; }
  .triangle-loading-field .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .triangle-loading-field .col-1 {
    flex-basis: 8.3333333333%; }
  .triangle-loading-field .col-2 {
    flex-basis: 16.6666666667%; }
  .triangle-loading-field .col-3 {
    flex-basis: 25%; }
  .triangle-loading-field .col-4 {
    flex-basis: 33.3333333333%; }
  .triangle-loading-field .col-5 {
    flex-basis: 41.6666666667%; }
  .triangle-loading-field .col-6 {
    flex-basis: 50%; }
  .triangle-loading-field .col-7 {
    flex-basis: 58.3333333333%; }
  .triangle-loading-field .col-8 {
    flex-basis: 66.6666666667%; }
  .triangle-loading-field .col-9 {
    flex-basis: 75%; }
  .triangle-loading-field .col-10 {
    flex-basis: 83.3333333333%; }
  .triangle-loading-field .col-11 {
    flex-basis: 91.6666666667%; }
  .triangle-loading-field .col-12 {
    flex-basis: 100%; }
  .triangle-loading-field .loading-label {
    margin: 8px 10px; }
  .triangle-loading-field .ico-loading {
    width: 35px; }

.bg-turquoise {
  background: #1abc9c;
  color: #fff; }

.bg-amethyst {
  background: #9b59b6;
  color: #fff; }

.bg-wetasphalt {
  background: #34495e;
  color: #fff; }

.triangle-container {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .triangle-container .header {
    padding: 10px 20px;
    border-radius: 5px 5px 0px 0px; }
    .triangle-container .header i {
      margin-right: 5px; }
    .triangle-container .header .action-button {
      text-decoration: none;
      color: #fff;
      margin-right: 5px; }
  .triangle-container .content {
    padding: 10px; }

/**
* Modify Template
* @backend
*/
.triangle-setting input, .triangle-setting select {
  width: 400px; }
.triangle-setting .field-info {
  font-style: italic;
  color: #808080;
  padding-top: 3px; }

/**
* Page Email Template
* @backend @edit
*/
#rendered-template-container #rendered-template {
  width: 100%;
  min-height: 300px; }

.triangle-container .container, .triangle-container .element_fields, .triangle-container #template-src-url {
  display: none; }
.triangle-container #template-elements, .triangle-container .select2-container {
  width: 100% !important; }
.triangle-container #template-editor {
  width: 100%;
  margin-top: 10px;
  min-height: 500px; }
  .triangle-container #template-editor textarea {
    min-height: 400px; }

/**
* Page Setting
* @backend
*/
.nav-tab {
  margin-bottom: -1px; }

ul.tabs li.current {
  background: #ededed;
  color: #222; }

.tab-content {
  display: none;
  background: #f4f5f6;
  padding: 15px; }

.tab-content.current {
  display: inherit;
  border: 1px solid #ccc;
  border-top: 0px; }

/*# sourceMappingURL=style.css.map */
