#form-message {
  display: none;
  padding: 10px 0;
  font-weight: bold;
  color: #e74c3c; }

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 23px; }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }
  .slider:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 14px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .slider.round {
    border-radius: 34px; }
  .slider.round:before {
    border-radius: 50%; }

input:checked + .slider {
  background-color: #e74c3c; }

input:focus + .slider {
  box-shadow: 0 0 1px #e74c3c; }

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px); }

.bg-amethyst {
  background: #9b59b6; }

.bg-wetasphalt {
  background: #34495e; }

.bg-carrot {
  background: #e67e22; }

.bg-alizarin {
  background: #e74c3c; }

.text-alizarin {
  color: #e74c3c; }

.btn-submit {
  cursor: pointer;
  border: none;
  background: #95a5a6;
  color: #000;
  padding: 8px 25px;
  border-radius: 5px; }

/**
* Modify Template - Container
* @backend
*/
.triangle-container {
  background: #fcfcfc;
  border-radius: 5px;
  margin-top: 20px;
  padding: 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .triangle-container h2, .triangle-container h3 {
    margin: 10px 0; }
  .triangle-container .header {
    border-radius: 5px 5px 0px 0px; }
    .triangle-container .header .nav-actions {
      padding: 13px 15px;
      float: right; }
      .triangle-container .header .nav-actions a {
        color: #fff; }
    .triangle-container .header .nav-tab-wrapper {
      padding: 5px 10px 2px 10px; }
      .triangle-container .header .nav-tab-wrapper .nav-tab {
        cursor: pointer;
        color: #c4c4c4;
        background: transparent;
        padding: 5px 15px;
        margin: 0px 0.1em;
        border: 0px;
        font-weight: normal; }
      .triangle-container .header .nav-tab-wrapper .nav-tab-active {
        color: #efefef;
        background: transparent;
        font-weight: bold; }
  .triangle-container .content .tab-content {
    display: none;
    padding: 10px 20px; }
    .triangle-container .content .tab-content.current {
      display: block; }
    .triangle-container .content .tab-content .clear-row {
      margin: 10px 0; }
    .triangle-container .content .tab-content .grid {
      max-width: 100%;
      margin: 0 auto;
      margin-top: 10px; }
      .triangle-container .content .tab-content .grid .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%; }
      .triangle-container .content .tab-content .grid .col-1 {
        flex-basis: 8.3333333333%; }
      .triangle-container .content .tab-content .grid .col-2 {
        flex-basis: 16.6666666667%; }
      .triangle-container .content .tab-content .grid .col-3 {
        flex-basis: 25%; }
      .triangle-container .content .tab-content .grid .col-4 {
        flex-basis: 33.3333333333%; }
      .triangle-container .content .tab-content .grid .col-5 {
        flex-basis: 41.6666666667%; }
      .triangle-container .content .tab-content .grid .col-6 {
        flex-basis: 50%; }
      .triangle-container .content .tab-content .grid .col-7 {
        flex-basis: 58.3333333333%; }
      .triangle-container .content .tab-content .grid .col-8 {
        flex-basis: 66.6666666667%; }
      .triangle-container .content .tab-content .grid .col-9 {
        flex-basis: 75%; }
      .triangle-container .content .tab-content .grid .col-10 {
        flex-basis: 83.3333333333%; }
      .triangle-container .content .tab-content .grid .col-11 {
        flex-basis: 91.6666666667%; }
      .triangle-container .content .tab-content .grid .col-12 {
        flex-basis: 100%; }
      .triangle-container .content .tab-content .grid p {
        width: 100%;
        margin: 8px 0; }
      .triangle-container .content .tab-content .grid .section-title {
        font-size: 1em;
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0; }
      .triangle-container .content .tab-content .grid .section-fields {
        margin: 30px 0;
        max-width: 80%; }
        .triangle-container .content .tab-content .grid .section-fields label {
          font-weight: bold; }
        .triangle-container .content .tab-content .grid .section-fields input, .triangle-container .content .tab-content .grid .section-fields select {
          width: 99%;
          max-width: 99%; }
      .triangle-container .content .tab-content .grid .section-content {
        max-width: 80%; }
      .triangle-container .content .tab-content .grid .section-submit {
        max-width: 80%;
        margin: 30px 0; }

/**
* Modify Template - Loading
* @backend
*/
.triangle-loading {
  text-align: center;
  padding: 40px 0px; }
  .triangle-loading .ico-loading {
    width: 150px; }

.triangle-loading-field {
  max-width: 200;
  margin: 0 auto;
  margin: 0; }
  .triangle-loading-field .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
  .triangle-loading-field .col-1 {
    flex-basis: 50%; }
  .triangle-loading-field .col-2 {
    flex-basis: 100%; }
  .triangle-loading-field .loading-label {
    margin: 8px 10px; }
  .triangle-loading-field .ico-loading {
    width: 35px; }

/**
* Page Setting
*/
#section-setting #form-result {
  display: none;
  padding: 10px 0;
  font-weight: bold; }
  #section-setting #form-result.form-result-false {
    display: block;
    color: #e74c3c; }
  #section-setting #form-result.form-result-true {
    display: block;
    color: #27ae60; }
#section-setting #field_option_absolute_location {
  display: inline; }
  #section-setting #field_option_absolute_location li {
    margin-left: 20px;
    display: inline; }
#section-setting .btn-submit {
  background: #e74c3c;
  color: #fff; }

/**
* Page Contact
*/
#section-contact #add-user-to-lists {
  cursor: pointer;
  border: none;
  background: #27ae60;
  color: #fff;
  padding: 8px 25px;
  border-radius: 5px; }
#section-contact .badges {
  display: inline-block;
  background: #bdc3c7;
  padding: 5px 10px;
  margin: 2px; }
  #section-contact .badges i {
    cursor: pointer;
    margin-right: 5px; }
#section-contact .btn-submit {
  background: #e67e22;
  color: #fff; }

#section-send #email-send-status {
  display: none;
  margin: 200px;
  text-align: center; }

/**
* Page Email Template
* @backend @edit
*/
#section-codeeditor {
  padding: 10px; }
  #section-codeeditor .container, #section-codeeditor .element_fields {
    display: none; }
  #section-codeeditor #juice-builder-elements {
    display: none !important; }
  #section-codeeditor #template-elements, #section-codeeditor .select2-container {
    width: 100% !important;
    display: none; }
  #section-codeeditor #template-editor {
    width: 100%;
    margin-top: 2px;
    min-height: 800px; }
    #section-codeeditor #template-editor textarea {
      min-height: 400px; }

#section-preview #juice_preview {
  width: 100% !important;
  min-height: 750px !important; }

/*# sourceMappingURL=style.css.map */
